
@{
    Layout = null;
}

<head>
    <script src="~/Scripts/CommonCurve.js" />
    <meta name="viewport" content="width=device-width" />
    <title>MainHeader</title>
</head>
<body>
    <div class="container">
        @using (@Html.BeginForm("EntrySave", "Main", FormMethod.Post, new { @id = "FormMain", @class = "form-control" }))
        {
            <div class="row">
                <div class="col-lg-6">
                    <label class="form-control">Name</label>
                </div>
                <div class="col-lg-6">
                    <input type="text" placeholder="Name Goes here " id="txtName" onchange="MainCureve.OnLeave(this)" class="form-control required" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <label class="form-control">Address</label>
                </div>
                <div class="col-lg-6">
                    <input type="text" placeholder="Address Goes here " id="txtAddress" onchange="MainCureve.OnLeave(this)" class="form-control required" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <label class="form-control">Mobile No</label>
                </div>
                <div class="col-lg-6">
                    <input type="text" placeholder="MobileNo Goes here " id="txtMobile" onchange="MainCureve.OnLeave(this)" class="form-control required" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <input type="button" value="Save" class="btn pull-right" />
                </div>
            </div>
        }

    </div>

</body>
